<div class="container-fluid">
  <div class="row">

    <div class="card text-center" style="width: 312px; height: 293px; margin-top: 150px; border-radius: 8px; margin-bottom: 246px;">
      <div class="card-body text-center" style="background-color: #A3CFBB;">
        <p class="card-text text-center" style="margin-bottom: 20px; margin-top: 49px;">La alarma para el medicamento Esomeprazol, cada 8 horas, iniciando el lunes a las 5:00 a.m ha sido creada con éxito.<br>Recuerde tomarlo en ayunas. </p>
         <button type="button" class="btn" style="background-color: #146C43; width: 281px; height: 51px;" routerLink=''>Aceptar</button>
      </div>
    </div>

  </div>


</div>

<app-footer></app-footer>
