<div class="container-fluid">
  <div class="d-block" style="margin-top: 80px;">
    <div class="col-12 text-center">
      <h1>Mis medicamentos</h1>
    </div>

    <div class="text-center">
      <p style="margin-top: 20px; margin-bottom: 20px;">Agregar medicamento</p>
    </div>
    <div class="d-block">
      <div style="margin-bottom: 10px; margin-right: 150px;">
      <label for="inputHour">Nombre:</label>
      </div>
      <div class="d-flex justify-content-center">
      <input type="text" class="form-control col-4 text-center" id="inputHour" style="width: 300px; height: 32px; font-size: 20px; font-family: 'Inter-Regular', sans-serif; border-radius: 20px; border-color: #146C43;">
      </div>
    </div>

    <div class="d-block" style="margin-bottom: 40px; margin-top: 20px;">
      <div class="text-start" style="margin-bottom: 10px; margin-right: 100px;">
      <label for="inputDate">Descripción:</label>
      </div>
      <div class="d-flex justify-content-center">
      <input type="text" class="form-control col-4 text-center" id="inputDate" style="width: 300px; height: 32px; font-size: 20px; font-family: 'Inter-Regular', sans-serif; border-radius: 20px; border-color: #146C43;">
    </div>
    </div>

    <div class="col-12" style="margin-bottom: 260px;">
      <button type="button" class="btn" style="background-color: #146C43; width: 281px; height: 51px;" routerLink="/medicamentocreado">Guardar</button>
    </div>

  </div>
</div>


<app-footer></app-footer>
