<div class="container-fluid">
  <div class="d-block" style="margin-top: 80px;">
    <div class="col-12 text-center">
      <h1>Mis medicamentos</h1><br>
    </div>


    <div class="d-block">
      <h2>Amoxicilina</h2>
      <p>Es un medicamento que sirve para detener el crecimiento de bacterias.</p>
      <h2>Esomeprazol</h2>
      <p>Es un medicamento que sirve para mitigar los síntomas de la gastritis.</p>
      <h2>Medicamento nuevo</h2>
      <p>Descripción del nuevo medicamento</p>
    </div>
    <div class="col-12" style="margin-bottom: 260px; margin-top: 40px;">
      <a role="button" class="btn-link" routerLink="/agregarmedicamento">Agregar medicamento</a>
    </div>

  </div>
</div>


<app-footer></app-footer>
