<router-outlet>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item text-center">
        <a class="nav-link text-center" role="button" routerLink="/crearalarma">CREAR ALARMA</a>
        <img src="assets/alarma.png" alt="Salud" class="img-fluid" style="width: 25px; height: 25px;">
      </li>
      <li class="nav-item text-center">
        <a class="nav-link text-center" role="button" routerLink="/medicamentos">MIS MEDICAMENTOS</a>
        <img src="assets/medicamentos.png" alt="Salud" class="img-fluid" style="width: 25px; height: 25px;">
      </li>
      <li class="nav-item text-center">
        <a class="nav-link text-center" role="button" routerLink="/crearcita">CREAR CITA</a>
        <img src="assets/salud.png" alt="Salud" class="img-fluid" style="width: 25px; height: 25px;">
      </li>
    </ul>
  </nav>

</router-outlet>


