<div class="container-fluid">
  <div class="column d-block text-center">
  <h1 style="margin-top: 50px;margin-bottom: 50px;">Bienvenido(a)</h1>
  <p>Esta aplicación está enfocada en la creación de alarmas para que nunca olvides la toma de medicamentos necesarios para mantener una buena salud y por ende  una excelente calidad de vida. También podrás agregar citas médicas, de  esta manera tendrás toda la información organizada sobre tu salud.</p>
  <img src="assets/inicio.png" alt="Home" class="img-fluid col-4" style="width: 200px;height: 200px;">
  </div>
</div>
